@model SurveySolution.Models.ViewModels.SurveyCustomerViewModel

@{
    ViewBag.Title = "Customers";
}

<h2>@Model.SurveyName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SurveyID)
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th></th>
        </tr>


        @for (int i = 0; i < Model.Customers.Count(); i++ )
        {
        <tr>
                @Html.HiddenFor(model => model.Customers[i].Id)
            <td>
                @Html.CheckBox("Checkbox", new { id = Model.Customers[i].Id })
            </td>
            <td>
                @Html.DisplayFor(model => model.Customers[i].FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customers[i].LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customers[i].Email)
            </td>
        </tr>
        }


    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send Email" class="btn btn-default" />
        </div>
    </div>
}